{% extends 'base.html.twig' %}

{% block title %}Forecast index{% endblock %}

{% block body %}
    <h1>Forecast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Temperature</th>
                <th>Cloudiness</th>
                <th>Wind_speed</th>
                <th>Wind_direction</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forecast in forecasts %}
            <tr>
                <td>{{ forecast.id }}</td>
                <td>{{ forecast.temperature }}</td>
                <td>{{ forecast.cloudiness }}</td>
                <td>{{ forecast.windSpeed }}</td>
                <td>{{ forecast.windDirection }}</td>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
                <td>
                    {%  if is_granted('ROLE_FORECAST_SHOW')%}
                        <a href="{{ path('app_forecast_show', {'id': forecast.id}) }}">show</a>
                    {%  endif %}
                    {%  if is_granted('ROLE_FORECAST_EDIT')%}
                        <a href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">edit</a>
                    {%  endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%  if is_granted('ROLE_FORECAST_NEW')%}
        <a href="{{ path('app_forecast_new') }}">Create new</a>
    {%  endif %}
{% endblock %}
