{% extends 'base.html.twig' %}

{% block title %}Forecast{% endblock %}

{% block body %}
    <h1>Forecast</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forecast.id }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ forecast.temperature }}</td>
            </tr>
            <tr>
                <th>Cloudiness</th>
                <td>{{ forecast.cloudiness }}</td>
            </tr>
            <tr>
                <th>Wind_speed</th>
                <td>{{ forecast.windSpeed }}</td>
            </tr>
            <tr>
                <th>Wind_direction</th>
                <td>{{ forecast.windDirection }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forecast_index') }}">back to list</a>

    <a href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">edit</a>

    {{ include('forecast/_delete_form.html.twig') }}
{% endblock %}
